/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#logo_helium {
    height:30px;
}

#navbar ul li {
      color:white;
}

hr.forh1 {
    margin-top: 0px;
    border-top-color:#555555;
}

.a-center-line {
    float:left;
    width:100%;
    font-size:10px;
}

.cadre_tier {
    float:left;
    width:250px;
    font-size:11px;
    font-weight:bold;
}

.cadre_tier img {
    margin-bottom:11px;
}

.cadre_tier ul {
    padding-left:14px;
    font-size:10px; 
}

.cadre_tier p  {
    font-size:10px; 
    font-weight:normal;
    margin-left:0px;    
}

.cadre_tier ul li {
    font-weight:normal;
    margin-left:0px;
}

.cadre_all_border_grey {
    float:left;
    width:100%;
    font-size:14px;
    color:#FF8000;
    font-weight:bold;
    border:solid 1px #AAAAAA;
    padding:10px;
}

.cadre_all_border_grey p {
    text-align:center;
    font-size:12px;
    color:black;
    font-weight:normal;
}

.cadre_all_border_grey p input[Type="button"] {
    text-shadow: 0px 1px 0px #ffe093;
}

.cadre_link_bottom {
    float:left;
    width:25%;  
    font-size:12px;
    color:black;    
}

.cadre_link_bottom h2 {
    font-size:12px;
    margin-bottom:0px;
    color:#FF8000;  
    font-weight:bold;   
}

.cadre_bottom_large {
    float:left;
    width:100%;  
    font-size:10px;
    color:black;    
}

.cadre_mini_link_bottom {
    float:left;
    width:20%;  
    font-size:10px;
    color:black; 
    text-align:center;   
    margin-top:10px;
}

.cadre_mini_link_bottom span {
    font-size:9px;
    color:grey;    
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    color:#FF8000;
}
    
#homepage {
    display:block;  
}
  
@media screen and (min-width: 768px) {
    #navbar {
	   width:100%;
    	background-color:#DDDDDD;
    	float:left;
    	margin:0px;  	
    }
    #navbar ul li {
	   color:black;
    	border-left:solid 1px #BBBBBB;
        border-right:solid 1px #FFFFFF;    
        padding-top:10px;
        padding-bottom:10px;    		
    }
    ul.navbar-inverse {
	   display:none;
    }
    .navbar-brand {
	   height:70px;
    }
	#logo_helium {
	    height:50px;
		margin-top:0px;
	}
	
	.a-center-line {
	    font-size:12px;
	}
	
	.cadre_tier {
	    font-size:12px;
	}
	
	.cadre_tier ul {
	    font-size:12px; 
	}
	
	.cadre_tier p  {
	    font-size:12px;     
	}
	
	.cadre_all_border_grey {
	    font-size:18px;
    }
	
	.cadre_all_border_grey p {
	    font-size:14px;
	}
	
	.cadre_link_bottom {  
	    font-size:14px;    
	}
	
	.cadre_link_bottom h2 {
	    font-size:14px;   
	}
	
	.cadre_bottom_large { 
	    font-size:12px;    
	}
	
	.cadre_mini_link_bottom {
	    font-size:12px;
	}
	
	.cadre_mini_link_bottom span {
	    font-size:10px;   
	}
}

@media screen and (min-width: 1150px)  {
    #navbar {
       font-size:12px;
    }
    
    #homepage {
        display:block;   	
    }
}

@media screen and (max-width: 1150px) {
    #navbar {
       font-size:9px;
    }
    
	#homepage {
	    display:none;  
	}
}
